$notification-badge: #7B36D6;

$dark-purple: #201b2c;
$regular-purple: #2b134b;
$light-purple: #2f2841;

$input-purple: #514869;

$dark-lime-green: #018d4c;
$lime-green: #00ff88;
$aqua-green: #77ffc0;

@mixin media-short {
	@media screen and (max-width: 576px) {
		@content;
	}
}

@mixin media-medium {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin media-large {
	@media screen and (max-width: 1155px) {
		@content;
	}
}

@font-face {
	font-family: 'Montserrat Black';
	src: url('/fonts/Montserrat-Black.ttf');
}

@font-face {
	font-family: 'Montserrat Bold';
	src: url('/fonts/Montserrat-Bold.ttf');
}

@font-face {
	font-family: 'Montserrat Regular';
	src: url('/fonts/Montserrat-Regular.ttf');
}

@font-face {
	font-family: 'Montserrat Light';
	src: url('/fonts/Montserrat-Light.ttf');
}
