// @import '../.././node_modules/bootstrap/scss/bootstrap.scss';
// @import '../.././node_modules/bootstrap-icons/font/bootstrap-icons.scss';

@mixin borderRadius($radius: 100px) {
    border-radius: $radius;
}

.form {
    input {
        @include borderRadius($radius: 50px);
    }
}

input, label, button {
    display: block;
}

.request-btn {
    display: inline;
}

.project-box{
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  31px 31px 62px #bebebe,
             -31px -31px 62px #ffffff;
    padding: 1%;

    margin-bottom: 35px;
}