@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
.chart-box {
  width: 15%;
  display: inline-block;
  margin: 0 2rem;
  color: white;
}

.chart-container {
  text-align: center;
  background-color: #2f2841;
  border-radius: 300px;
  margin: 0 5%;
  margin-bottom: 3%;
  padding: 3rem;
  box-shadow: 31px 31px 62px #bebebe, -10px -10px 62px #ffffff;
}

#dashboard {
  padding-top: 3rem;
}
#dashboard img {
  position: absolute;
  max-width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3;
}
#dashboard .project-box {
  margin: auto 2rem;
  border-radius: 15px;
  background: #e0e0e0;
  box-shadow: 31px 31px 62px #bebebe, -10px -10px 62px #ffffff;
  padding: 1%;
  margin-bottom: 35px;
  display: inline-block;
}

#login .fail-card {
  margin-top: 2rem;
  border-radius: 50px;
  padding: 0 1.6rem;
  color: white;
  background-color: rgba(255, 0, 0, 0.596);
}
#login .form input {
  border-radius: 50px;
}
#login .main-login {
  width: 100vw;
  height: 100vh;
  background-color: #201b2c;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login .right-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#login .right-login > h1 {
  color: #77ffc0;
  font-size: 3vw;
}
#login .card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background-color: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.337254902);
}
#login .card-login > h1 {
  color: #00ff88;
  font-weight: 800;
  margin: 0;
}
#login .textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}
#login .textfield > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background-color: #514869;
  color: rgba(240, 255, 255, 0.8705882353);
  font-size: 12pt;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.337254902);
  outline: none;
  box-sizing: border-box;
}
#login .textfield > label {
  color: rgba(240, 255, 255, 0.8705882353);
  margin-bottom: 10px;
}
#login .textfield > form > label {
  color: rgba(240, 255, 255, 0.8705882353);
  margin-bottom: 10px;
}
#login .textfield > form > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background-color: #514869;
  color: rgba(240, 255, 255, 0.8705882353);
  font-size: 12pt;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.337254902);
  outline: none;
  box-sizing: border-box;
}
#login .btn-login {
  width: 100%;
  padding: 16px 0px;
  margin: 25px 0px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background-color: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px rgba(0, 255, 128, 0.3215686275);
}

#metrics .details p b {
  color: #00ff88;
}
#metrics .print-btn {
  margin: 0;
  width: 20%;
}
#metrics .progress {
  height: 5%;
  width: 100%;
  margin: 0 auto 0 auto;
}
#metrics .progress-bar {
  background-color: #018d4c;
}
#metrics main {
  color: white;
  padding: 2rem 3rem;
}
#metrics table {
  color: white;
}

.spacer {
  display: flex;
  justify-content: space-between;
}

#navbar .nav {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: #2f2841;
  color: #00ff88;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
}
#navbar .nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
#navbar .nav li {
  padding: 1rem;
}
#navbar .option-nav {
  margin: 0;
}
#navbar .submit-btn {
  border-radius: 40px;
  width: 100%;
  padding: 0.7rem 1.5rem;
}

#notification-viewer input[type=checkbox] {
  margin-top: 5px;
}
#notification-viewer .form-check-input:checked {
  background-color: #018d4c !important;
  border-color: #77ffc0 !important;
}

.spacer {
  display: flex;
  justify-content: space-between;
}

#project-viewer .project {
  color: white;
  max-width: 70%;
  margin: 0 auto 0 auto;
}
#project-viewer .project .project-header {
  margin-top: 1.6rem;
  text-align: left;
}
#project-viewer .project .project-body {
  margin-top: 3rem;
}
#project-viewer .project .project-body p b {
  color: #00ff88;
}
#project-viewer .project .project-footer .product-backlog {
  background-color: rgb(192, 162, 221);
  border-radius: 100px;
  padding: 0 0.7rem;
}
#project-viewer .project .project-footer .sprint-backlog {
  background-color: rgb(233, 95, 102);
  border-radius: 100px;
  padding: 0 0.7rem;
}
#project-viewer .project .project-footer .in-development {
  background-color: rgb(95, 132, 231);
  border-radius: 100px;
  padding: 0 0.7rem;
}
#project-viewer .project .project-footer .finished {
  background-color: green;
  border-radius: 100px;
  padding: 0 0.7rem;
}
#project-viewer .project .project-footer .todolist-row {
  text-align: center;
  background-color: #514869;
  border-radius: 100px;
  padding-top: 0.5%;
  box-shadow: 0 1rem 2rem rgba(90, 90, 90, 0.2);
}

.inline {
  display: inline;
}

.c-btn {
  display: inline-block;
  width: 15%;
}

.ac {
  margin-left: 1%;
}

.together {
  display: flex;
}

.status-tag {
  margin-left: 1rem;
}

.modal-title {
  color: #212529;
}

@media screen and (max-width: 576px) {
  #project-viewer .inline {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1155px) {
  #navbar .nav {
    flex-direction: column;
    align-items: center;
  }
  #navbar .nav ul {
    flex-direction: column;
    align-items: center;
  }
}
#service-form > button {
  align-content: center;
}
#service-form .success-card {
  text-align: center;
  margin-top: 2rem;
  border-radius: 50px;
  padding: 0 1.6rem;
  color: white;
  background-color: #018d4c;
}

#service-viewer .decline-form {
  display: inline;
}

#user-viewer .edit-user {
  margin: 0 auto 0 auto;
}
#user-viewer main {
  padding: 2rem 3rem;
}
#user-viewer table {
  color: white;
}
#user-viewer .edit-user-btn {
  color: #2b134b;
  border-radius: 200px;
  background-color: #00ff88;
  width: fit-content;
  border: none;
  padding: 2px 10px;
  font-weight: 900;
  box-shadow: 0px 10px 40px -12px rgba(0, 255, 128, 0.3215686275);
}
#user-viewer .edit-user-btn:hover {
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}
#user-viewer .submit-btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: #201b2c;
}

body:has(> section#dashboard) {
  background-color: white;
}

input,
label,
button {
  display: block;
}

.centralize {
  text-align: center;
}

.submit-btn {
  width: fit-content;
  padding: 16px 10px;
  margin: 25px 0px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background-color: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px rgba(0, 255, 128, 0.3215686275);
}

.submit-btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

.submit-btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  margin: 3rem;
  background-color: #2f2841;
  padding: 3rem;
  border-radius: 50px;
  width: fit-content;
}
.box h1 {
  text-align: center;
  color: #00ff88;
}
.box h6 {
  color: #00ff88;
}
.box p {
  text-align: center;
  color: white;
}
.box > hr {
  color: white;
}
.box > form label {
  color: rgba(240, 255, 255, 0.8705882353);
  margin-bottom: 3%;
  margin-top: 5%;
}
.box > form input:not([type=checkbox]),
.box > form textarea {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background-color: #514869;
  color: rgba(240, 255, 255, 0.8705882353);
  font-size: 12pt;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.337254902);
  outline: none;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
