<%- include('partials/header') %>

<div class="form">
    <form class="test-form" action="/" method="post">
        <label for="emailInput">Email</label>
        <input type="text" name="email" id="emailInput">

        <label for="passwordInput">Password</label>
        <input type="text" name="password" id="passwordInput">


        <button type="submit">Create Account</button>
    </form>
</div>

<%- include('partials/footer') %>