<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Weblivery</title>
        <link rel="stylesheet" href="reset.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

        <style>
            html, body, div, span, object, iframe,
            h1, h2, h3, h4, h5, h6, p, blockquote, pre,
            abbr, address, cite, code,
            del, dfn, em, img, ins, kbd, q, samp,
            small, strong, sub, sup, var,
            b, i,
            dl, dt, dd, ol, ul, li,
            fieldset, form, label, legend,
            table, caption, tbody, tfoot, thead, tr, th, td,
            article, aside, canvas, details, figcaption, figure, 
            footer, header, hgroup, menu, nav, section, summary,
            time, mark, audio, video {
                margin:0;
                padding:0;
                border:0;
                outline:0;
                font-size:100%;
                vertical-align:baseline;
                background:transparent;
                color: #00FF89;
            }
            
            body {
                line-height:1;
            }
            
            article,aside,canvas,details,figcaption,figure,
            footer,header,hgroup,menu,nav,section,summary { 
                display:block;
            }
            
            nav ul {
                list-style:none;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            
            blockquote, q {
                quotes:none;
            }
            
            blockquote:before, blockquote:after,
            q:before, q:after {
                content:'';
                content:none;
            }
            
            a {
                margin:0;
                padding:0;
                border:0;
                font-size:100%;
                vertical-align:baseline;
                background:transparent;
            }
            
            ins {
                background-color:#ff9;
                color:#000;
                text-decoration:none;
            }
            
            mark {
                background-color:#ff9;
                color:#000; 
                font-style:italic;
                font-weight:bold;
            }
            
            del {
                text-decoration: line-through;
            }
            
            abbr[title], dfn[title] {
                border-bottom:1px dotted #000;
                cursor:help;
            }
            
            table {
                border-collapse:collapse;
                border-spacing:0;
            }
            
            hr {
                display:block;
                height:1px;
                border:0;   
                border-top:1px solid #cccccc;
                margin:1em 0;
                padding:0;
            }
            
            input, select {
                vertical-align:middle;
            }

            body {
                font-family: 'Montserrat', sans-serif;
            }

            header {
                background: #1F1B2C;
                padding: 20px 0;
            }

            nav li {
                display: inline;
                margin-left: 15px;
            }

            .caixa {
               display: flex;
               justify-content: space-between;
               align-items: center;
               margin: 0 2em 0 2em;
            }

            .caixa h1 {
                font-size: 2.5em;
                clear: left;
                color: #86F8C5
            }

            .cards {
                width: 940px;
                margin: 0 auto;
                padding: 50px 0;
            }

            .cards li{
                display: inline-block;
                text-align: center;
                width: 30%;
                vertical-align: top;
                margin: 0 1.5%;
                padding: 30px 20px;
                box-sizing: border-box;
                border-color: #76FCC2;
                border-style: solid;
                border-width: 2px;
                border-radius: 10px;
            }

            .cards li:hover{
                border-color: #02FC85;
                color: #02FC85;
            }

            .cards h2 {
                font-size: 30px;
                font-weight: bold;
            }


            .cards-descricao {
                font-size: 18px;
            }

            footer {
                text-align: center;
                background: #1F1B2C;
                padding: 40px 0;
            }

            .copyright {
                color: #FFFFFF;
                font-size: 13px;
                margin: 20px 0 0;
            }

            main {
                background: #514769;
            }

            .botao {
                width: fit-content;
                padding: 15px 25px;
                background: #00FF89;
                border: none;
                font-size: 18px;
                font-weight: bold;
                color: purple;
                border-radius: 5px;
                transition: 1s all;
                cursor: pointer;            
            }

            #botao {
                margin-left: 5em;
            }

            table {
                margin: 20px 0 40px;
            }

            thead {
                background: #555555;
                color: white;
                font-weight: bold;
            }

            td, th {
                border: 1px solid #000000;
                padding: 8px 15px;
            }

            /*CSS DA PAGINA PRINCIPAL*/

            .banner {
                width: 100%;
            }

            .titulo-principal {
                text-align: center;
                font-size: 2em;
                margin: 0 0 1em;
                clear: left;
                color: black;
            }

            .principal {
                padding: 4em 0 0;
                background: #514769;
                width: 940px;
                margin: 0 auto;
            }

            .principal p {
                margin: 0 0 1em;
                font-size: 2em;
                padding: 0 0 4em ;
            }

            .principal strong {
                font-weight: bold;
            }

            .principal em {
                font-style: italic;
            }

            .banner {
                width: 620px;
                float: right;
                margin: 0px -80px 0px 20px;
                border-radius: 12px;
            }

            .descricao h1 {
                text-align: center;
                font-size: 2.5em;
                margin: 0 0 1em;
                clear: left;
                color: #02FC85;
                font-weight: bold;
            }

            .descricao {
                padding: 15em 0 0 0;
                background: linear-gradient(#514769, #2E2941)
            }

            .descricao p {
                text-align: center;
                font-size: 1.5em;
                color: #76FCC2;
            }

            #card1 {
                margin: 3em 0 ;
            }

            #card2 {
                margin: 3em 0 ;
            }

            #card3 {
                margin: 2.51em 0 ;
            }
        </style>
    </head>

    <body>

        <header>
            <div class="caixa">
                <img src="img\logo_text.png" alt="Logo Weblivery" style="max-height: 50px; margin: 1%;">
                <nav>
                    <ul class="button-list">
                        <li>
                            <form class="form" action="/user/login" method="get">
                                <button class="botao" type="submit">Login</button>
                            </form>
                        </li>
                        <li>
                            <form class="forma" action="/request/" method="get">
                                <button class="botao" type="submit">Nova solicitação</button>
                            </form>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

    

        <main>

            <section class="principal"> 

                <img class="banner" src="/img/banner.jpg" alt="Imagem ilustrativa">

                <p>Weblivery, uma plataforma inovadora que deseja elevar seus processos ao próximo nível</p>
            
                <form class="form" action="/request/" method="get">
                    <button class="botao" type="submit">Comece agora</button>
                </form>

                </section>

            <section class="descricao">

                <h1 class="titulo-secundario">Solicite a criação de seu website</h1>
                <ul class="cards">
                    <li>
                        <p class="produtos-descricao" id="card1">1. Clique no botão "Comece Agora"</p>
                    </li>
                    <li>
                        <p class="produtos-descricao" id="card2">2. Preencha o formulário</p>
                    </li>
                    <li>
                        <p class="produtos-descricao" id="card3">3. Entre em contato com os desenvolvedores</p>
                    </li>
                </ul>
            </section>

           

        </main>

        <footer>
            <p class="copyright">&copy; Copyright - Weblivery</p>
        </footer>

    </body> 

</html>