<%- include('partials/header') %>

<section id="developer-login">

    <div class="box">

        <form action="/login" method="post">

            <h1>Login</h1>

            <label for="emailInput">Email</label>
            <input type="text" name="email" id="emailInput">
            
            <label for="passwordInput">Senha</label>
            <input type="password" name="password" id="passwordInput">

            <button type="submit">Login</button>

        </form>

    </div>

</section>

<%- include('partials/footer') %>
