<%- include('partials/header') %>

<section id="developer-login">

    <div class="main-login">

        <div class="left-login">
            <h1>Weblivery</h1>
            <img src="/img/login.svg" class="left-login-image" alt="login-animation">
        </div>

        <div class="right-login">
            <div class="card-login">
                <h1>Login</h1>
                <div class="textfield">
                    <form action="/user/login" method="post">            
                        <label for="emailInput" class="label-login">Email</label>
                        <input type="text" name="email" id="emailInput">

                        <label for="passwordInput">Senha</label>
                        <input type="password" name="password" id="passwordInput"> 
                        <button type="submit" class="btn-login">Login</button> 
                    </form>
                </div>                       

            </div>
        </div>

        

    </div>

</section>

<%- include('partials/footer') %>
