<%- include('partials/header') %>

<section id="login">

    <div class="main-login">

        <div class="left-login">
            <h1>Weblivery</h1>
            <img src="/img/login.svg" class="left-login-image" alt="login-animation">
        </div>

        <div class="right-login">

            <div class="card-login">

                <h1>Login</h1>

                <% if (fail == true) { %>
                    <div class="fail-card">
                        Email ou senha incorretos. Tente novamente
                    </div>
                <% } %>

                <div class="textfield">

                    <form action="/user/login" method="post">  

                        <label class="mt-3" for="emailInput" class="label-login">Email</label>
                        <input type="text" name="email" id="emailInput">

                        <label class="mt-3" for="passwordInput">Senha</label>
                        <input type="password" name="password" id="passwordInput"> 
                        
                        <button type="submit" class="btn-login">Login</button> 

                    </form>
                    
                </div>                    

            </div>

        </div>

    </main>

</section>

<%- include('partials/footer') %>
