<%- include('partials/header') %>

<section id="service-form">

    <div class="page">

        <div class="box">

            <h1>Solicitação de Serviço</h1>

                <form class="needs-validation" action="/request/" method="post" novalidate>

                    <label class="mt-3 form-label" for="fullnameInput">Nome Completo</label>
                    <div class="input-group has-validation">
                        <input class="form-control" type="text" name="requester" id="fullnameInput" required>
                        <div class="invalid-feedback">
                            Forneça um nome completo.
                        </div>
                    </div>

                    <label class="mt-3 form-label" for="emailInput">Email</label>
                    <div class="input-group has-validation">
                        <input class="form-control" type="email" name="email" id="emailInput" required>
                        <div class="invalid-feedback">
                            Forneça um email válido.
                        </div>
                    </div>

                    <label class="mt-3 form-label" for="phoneInput">Telefone</label>
                    <div class="input-group has-validation">
                        <input class="form-control" type="text" name="phone" id="phoneInput" required>
                        <div class="invalid-feedback">
                            Forneça um número de telefone válido.
                        </div>
                    </div>

                    <div class="mb-4 mt-4 form-check">
                        <input class="form-check-input" type="checkbox" name="whatsapp" id="whatsappCheck">
                        <label class="form-check-label" for="whatsappCheck">Possui Whatsapp?</label>
                    </div>

                    <label class="mt-3 form-label" for="titleInput">Titulo da Solicitação</label>
                    <div class="input-group has-validation">
                        <input class="form-control" type="text" name="title" id="titleInput" required>
                        <div class="invalid-feedback">
                            Forneça um titulo para a solicitação.
                        </div>
                    </div>

                    <label class="mt-3 form-label" for="descriptionInput">Descrição</label>
                    <div class="input-group has-validation">
                        <textarea class="form-control" name="description" id="descriptionInput" cols="30" rows="10" required></textarea>
                        <div class="invalid-feedback">
                            Forneça uma descrição.
                        </div>
                    </div>

                    <button class="mt-3 submit-btn" type="submit">Enviar</button>

                </form>

        </div>

    </div>

</section>

<%- include('partials/footer') %>