<%- include('partials/header') %>

<section id="service-request-form">

    <div class="box">

        <!-- Weblivery Logo -->

        <h1>Solicitação de Serviço</h1>

        <form action="/" method="post">

            <label for="fullnamenameInput">Nome Completo</label>
            <input type="text" name="fullname" id="fullnameInput">

            <label for="emailInput">Email</label>
            <input type="email" name="email" id="emailInput">

            <label for="phoneInput">Telefone</label>
            <input type="text" name="phone" id="phoneInput">

            <label for="whatsappCheck">Possui Whatsapp?</label>
            <input type="checkbox" name="whatsapp" id="whatsappCheck">

            <label for="titleInput">Titulo da Solicitação</label>
            <input type="text" name="title" id="titleInput">

            <label for="descriptionInput">Descrição</label>
            <textarea name="description" id="descriptionInput" cols="30" rows="10">Descreva o seu projeto...</textarea>

            <button type="submit">Enviar</button>

        </form>

    </div>

</section>

<%- include('partials/footer') %>