<!-- Utilize esse codigo inicial para criar qualquer pagina desejada, insira todo o seu codigo
dentro dos dois includes e para manter integridade, utilize a tag <section> com o id correspondente -->

<%- include('partials/header') %>

<section id="teste">

    <h1>Teste</h1>

</section>

<%- include('partials/footer') %>