<%- include('partials/header') %>

<section id="test-form">

    <%- include('partials/navbar') %>

    <div class="form-page">

        <div class="form-box">

            <h1>Titulo</h1>

            <p><em>Descrição</em></p>

            <hr>

            <form action="/" method="post">

                <label for="inputtest">Test</label>
                <input type="text" name="input" id="inputtest">

                <label for="inputtest2">Test</label>
                <input type="text" name="input" id="inputtest2">

                <label for="inputtest3">Test</label>
                <input type="text" name="input" id="inputtest3">

                <label for="inputtes4">Test</label>
                <input type="text" name="input" id="inputtest4">

                <label for="inputtest5">Test</label>
                <input type="text" name="input" id="inputtest5">

                <button type="submit">Enviar</button>

            </form>

        </div>

    </div>

</section>

<%- include('partials/footer') %>
