<%- include('partials/header') %>

<section id="user-register">

    <%- include('partials/navbar') %>

    <div class="page">

        <div class="box">

        <form action="/user/register" method="post">

            <h1>Cadastro de Desenvolvedor</h1>

            <label for="fullnameInput">Nome Completo</label>
            <input type="text" name="name" id="fullnameInput">

            <label for="roleInput">Cargo</label>
            <input type="text" name="role" id="roleInput">
            
            <label for="emailInput">Email</label>
            <input type="text" name="email" id="emailInput">

            <label for="passwordInput">Senha</label>
            <input type="password" name="password" id="passwordInput">

            <button class="submit-btn" type="submit">Cadastrar</button>

        </form>

    </div>

    </div>

</section>

<%- include('partials/footer') %>
