<%- include('partials/header') %>

<section id="developer-register">

    <div class="box_user_register">

        <form class="form_user_register"action="/user/register" method="post">

            <h1>Cadastro de Desenvolvedor</h1>

            <label for="fullnameInput">Nome Completo</label>
            <input type="text" name="name" id="fullnameInput">

            <label for="roleInput">Cargo</label>
            <input type="text" name="role" id="roleInput">
            
            <label for="emailInput">Email</label>
            <input type="text" name="email" id="emailInput">

            
            <label for="passwordInput">Senha</label>
            <input type="password" name="password" id="passwordInput">
            <button class="btn_user_register" type="submit">Cadastrar</button>

        </form>

    </div>

</section>

<%- include('partials/footer') %>
