<section id="navbar">
	<nav class="nav">
		<div class="ml-5">
			<h1 class="ml-5">Olá, <%= user.name %></h1>
		</div>
		<ul>
			<li class="option-nav">
				<form action="/user/dashboard" method="get">
					<button class="submit-btn" type="submit">Dashboard</button>
				</form>
			</li>

			<% if (user.email === 'admin') { %>
			<li class="option-nav">
				<form action="/user/register" method="get">
					<button class="submit-btn" type="submit">Gerenciar Desenvolvedores</button>
				</form>
			</li>

			<li class="option-nav">
				<form action="/request/view" method="get">
					<% if (serviceRequests > 0) { %>
					<button class="position-relative submit-btn" type="submit">
						Solicitações
						<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-badge">
							<%= serviceRequests %>
						</span>
					</button>
					<% } else { %>
					<button class="submit-btn" type="submit">Solicitações</button>
					<% } %>
				</form>
			</li>
			<% } %>

			<li class="option-nav">
				<form action="/user/notification" method="get">
					<% if (user.notifications.length == 0) { %>
					<button class="submit-btn" type="submit"><i class="fa-solid fa-bell"></i></button>
					<% } else { %>
					<button class="submit-btn position-relative" type="submit">
						<i class="fa-solid fa-bell"></i>
						<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
							<%= user.notifications.length %>
						</span>
					</button>
					<% } %>
				</form>
			</li>

			<li class="option-nav">
				<form action="/user/quit" method="post">
					<button class="submit-btn " type="submit">Logout</button>
				</form>
			</li>
		</ul>
	</nav>
</section>